// grid
$maxMobile: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";

// colors
$mainColor: #8B41F8;
$secondColor: #4480E4;
$headingMainColor: #4e4e4e;
$pColor: #7d8892;
$fourdColor: rgb(177, 177, 177); // P In Gray Background

// Float
$float-left: left;
$float-right: right;

// Text
$text-left: left;
$text-right: right;
